{
  "root": true,
  "env": {
    "node": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:vue/recommended",
    "@vue/prettier",
    "@vue/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    },
    "parser": "@typescript-eslint/parser"
  },
  "rules": {
    "no-console": "off",
    "prettier/prettier": "error",
    "comma-dangle": [
      "error",
      "never"
    ]
  }
}